

<p id="reply-message" class="hide"><%= flash[:notice] %></p>
<a id="thx-link" class="hide" data-open="exampleModal1">Thx</a>

<div class="layout">

  <div class="nav">
    <a href="#" class="nav__item">
      <%= image_tag "calificacion-empresa-tab.png" %>      
      <span>Calificación de la empresa</span>
    </a>
    
  </div><!-- .nav -->

  <div class="main">
	<h1><%= current_user.company_name %></h1>

  </div><!-- .main -->
</div><!-- .layout -->

<%= render "shared/footer" %>

<div class="reveal tiny" id="exampleModal1" data-reveal>
  <div class="text-center">
    <h4 class="color-blue bold">Importante</h4>
    <br>
    <p class="color-gray bold">Aquí aparecerá información sobre el <span class="color-green">diagnóstico de tu empresa</span>, nosotros nos pondremos en contacto contigo.</p>  
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>