<h1>Bienvenido a SITE</h1>

<p>
  <strong><%= @current_user.name %></strong> te ha invitado a unirte a la plataforma SITE.
</p>
<p>
	Únase a la cuenta para acceder a la plataforma de Sistema de Inteligencia y Tecnología Empresarial
	Tu usuario para ingresar al sitio es <%= @user.email %>.<br>
	La contraseña es <%= @pass %>
</p>
<p>
	Ingresa a la siguiente liga para ir al sitio <a href="<%= @url %>">SITE</a>
</p>
