<h1>Bienvenido a SITE</h1>

<p>
  Hola <strong><%= @user.name %></strong>
</p>
<p>
	Te damos la bienvenida a site tu usuario para ingresar al sitio es <%= @user.email %>.<br>
	La contraseña es <%= @pass %>
</p>

<p>
	Ingresa a la siguiente liga para ir al sitio <a href="<%= @url %>">SITE</a>
</p>
