
<div class="layout">

  <% render 'shared/nav' %>

  <div class="main">
  		
		<h1 class="main-headline hide">Responder Diagnóstico</h1>

		<%= render 'form' %>

  </div><!-- .main -->

</div><!-- .layout -->

<%= render "shared/footer" %>