
<div class="layout">

  <div class="nav">
    <a href="#" class="nav__item">
      <%= image_tag "calificacion-empresa-tab.png" %>      
      <span>Calificacion de la empresa</span>
    </a>
    
  </div><!-- .nav -->

  <div class="main">
  		
		<h1 class="main-headline hide">Responder Diagnóstico</h1>

		<%= render 'form' %>

  </div><!-- .main -->

</div><!-- .layout -->