<p id="notice"><%= notice %></p>

<h2>Agentes disponibres</h2>

<h2>Agentes</h2>
<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th>Status</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	    <% @agents.each do |agent| %>
	        <tr>
	          <td><%= agent.name %></td>
	          <td>
	          	<% if agent.available %>
	          		<strong>Disponible</strong>
	          	<% else %>
	          		<strong>Ocupado</strong>
	          	<% end %>
	          </td>
	          <td>
	          	<% if agent.available %>
	          		<%=link_to "Asignar", asignar_path(user_id: agent, company_id: @company ), method: :post %>	
	          	<% end %>
	          </td>
	        </tr>
	    <% end %>
	</tbody>
</table>
<br>
<%= link_to 'Back', companies_path %>