<%= form_for(@user, html: { method: :put }) do |f| %>

  <div class="field">
    <% User::ROLES.each do |role| %>
      <label>
      		<%= f.radio_button(:role, role) %>
          	<%= role %>
          <br>
      </label>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>