<div class="layout">
	<%= render 'shared/nav' %>
	<div class="main">
		
		<div class="form-container">
			<h1>Consultor Emprered</h1>
			<h2><%= @user.name %></h2>

			<%= render 'form_edit_role_u' %>
		</div>
	</div>
</div>
<%= render "shared/footer" %>