
<div class="layout">
	<%= render 'shared/nav' %>

	<div class="main">
		<div class="form-container">
		<%= link_to 'Atrás', :back, class: "back-button" %>  
		<h1 class="main-headline inline-block">Editar Usuario</h1>

		<%= render 'form_edit_password' %>
		</div>
		
	</div>

</div>



<%= render "shared/footer" %>