<div class="site-footer">
  © 2016, Copyright sistema de Inteligencia y Tecnología Empresarial.
  <a class="btop" href="#"></a>
</div>

<div class="reveal" id="exampleModal4" data-reveal>
  

  <p align="center"><strong>AVISO DE PRIVACIDAD INTEGRAL</strong></p>
  <p align="center"><strong>INSTITUTO HIDALGUENSE DE COMPETITIVIDAD EMPRESARIAL</strong></p>
  <p align="center"><strong>Usuarios</strong></p>
  <p>Atendiendo a lo dispuesto por: la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares, Reglamento de la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares y Los Lineamientos del Aviso de Privacidad, y con la finalidad de dar cumplimiento a los alcances del&nbsp; principio de informaci&oacute;n a que se refieren los art&iacute;culos 15 y 23 de la Ley y Reglamento ya mencionados respectivamente, el Instituto Hidalguense de Competitividad Empresarial expide el siguiente:</p>
  <p align="center"><strong>AVISO DE PRIVACIDAD</strong></p>
  <p align="center"><strong>C O N T E N I D O</strong></p>
  <ol style="list-style-type:upper-roman;">
    <li><strong>&nbsp;ENTIDAD Y DOMICILIO DEL RESPONSABLE QUE TRATA LOS DATOS PERSONALES: </strong>El Instituto Hidalguense de Competitividad Empresarial, con domicilio en, Boulevard Felipe &Aacute;ngeles No. 605, Colonia Presas Jales Norte, C.P. 28060, Pachuca de Soto, Hidalgo, es responsable de los datos personales que recaba.</li>
  </ol>
  <ol style="list-style-type:upper-roman;">
    <li value="2"><strong>DATOS PERSONALES QUE SERAN SOMETIDOS A TRATAMIENTO: </strong>Los datos personales que se recaba y tratan por Instituto Hidalguense de Competitividad Empresarial, son los siguientes:</li>
  </ol>

  <p>&nbsp;</p>
  <p style="margin-left:26.15pt;"><strong>CATEGORIA: GENERALES</strong></p>
  <p style="margin-left:26.15pt;"><strong>DATOS:</strong></p>
  <p style="margin-left:26.15pt;">Nombre</p>
  <p style="margin-left:26.15pt;">Domicilio</p>
  <p style="margin-left:26.15pt;">Tel&eacute;fono</p>
  <p style="margin-left:26.15pt;">Registro Federal de Contribuyentes</p>
  <p style="margin-left:26.15pt;">Email</p>
  <p style="margin-left:26.15pt;">Contacto</p>
  <p style="margin-left:26.15pt;">&nbsp;</p>
  <p style="margin-left:26.15pt;"><strong>CATEGORIA: Patrimoniales / Financiero</strong></p>
  <p style="margin-left:26.15pt;"><strong>DATOS:</strong></p>
  <p style="margin-left:26.15pt;">Escritura propiedad</p>
  <p style="margin-left:26.15pt;">Denominaci&oacute;n Instituci&oacute;n Crediticia</p>
  <p style="margin-left:26.15pt;">N&uacute;mero de cuenta bancaria</p>
  <p style="margin-left:26.15pt;">&nbsp;</p>
  <p>Los datos personales antes descritos son recabados directamente del titular en forma personal o al momento de acceder a nuestra p&aacute;gina de internet o al utilizar nuestros servicios en l&iacute;nea. :</p>
  <ol style="list-style-type:upper-roman;">
    <li value="3"><strong>DATOS SENSIBLES QUE SE RECABAN: </strong>Dentro de los datos personales que recaba y trata el Instituto Hidalguense de Competitividad Empresarial, no est&aacute;n en las hip&oacute;tesis que establece la Ley y que son considerados sensibles.</li>
  </ol>
  <ol style="list-style-type:upper-roman;">
    <li value="4"><strong>FINALIDADES DEL TRATAMIENTO DE LOS DATOS PERSONALES: </strong>Los datos personales descritos en el numeral inmediato anterior de este aviso de privacidad, ser&aacute;n utilizados para las siguientes finalidades:</li>
  </ol>
  <p style="margin-left:168.95pt;"><strong>FINALIDADES</strong></p>
  <ul>
    <li>Identificarlo. ------------------------------------------------------------------------------------------</li>
  </ul>
  <ul>
    <li>Proveerle los servicios que ha solicitado o asesor&iacute;a especializada -------------------</li>
  </ul>
  <ul>
    <li> Informarle sobre cambios en nuestros servicios. -------------------------------------------</li>
  </ul>
  <ul>
    <li>Informarle sobre nuevos servicios. --------------------------------------------------------------</li>
  </ul>
  <p>&nbsp;</p>
  <p>Los datos personales ser&aacute;n guardados bajo la m&aacute;s estricta confidencialidad y no se les podr&aacute; dar un uso distinto a los antes mencionados, salvo que medie un cambio en este Aviso de Privacidad.</p>
  <p>Una vez que se cumpla la finalidad del tratamiento de datos personales, estos ser&aacute;n bloqueados con el &uacute;nico prop&oacute;sito de determinar posibles responsabilidades en relaci&oacute;n con su tratamiento, hasta el plazo de prescripci&oacute;n legal o contractual de estas. Durante dicho periodo, los datos personales no podr&aacute;n ser objeto de tratamiento y transcurrido este, se proceder&aacute; a su cancelaci&oacute;n en la base de datos que corresponde.</p>
  <p style="margin-left:11.15pt;">&nbsp;</p>
  <ol style="list-style-type:upper-roman;">
    <li value="5"><strong>MECANISMOS PARA QUE EL TITULAR MANIFIESTE SU NEGATIVA AL TRATAMIENTO DE DATOS PERSONALES NO NECESARIOS. &nbsp;</strong></li>
  </ol>
  <p>Mediante el env&iacute;o de un mensaje al correo electr&oacute;nico <a href="http://www.ihce.gob.mx/">http://www.ihce.gob.mx/</a>,&nbsp; el titular puede expresar su negativa o revocar el consentimiento para el tratamiento de datos personales en aquellas finalidades que no sean necesarias, ni hayan dado origen a la relaci&oacute;n jur&iacute;dica con Instituto Hidalguense de Competitividad Empresarial.</p>
  <p><strong>VI. TRANSFERENCIA DE DATOS &nbsp;PERSONALES.&nbsp;&nbsp; </strong></p>
  <p>&nbsp;</p>
  <p><strong>A. </strong>Los datos personales descritos en el numeral II. de este aviso de privacidad, pueden ser transferidos y tratados por los terceros en virtud de que es necesario por la relaci&oacute;n jur&iacute;dica que se entabla, enunciativa, mas no limitativamente dicha trasferencia es para las finalidades que se plasman en la siguiente tabla.</p>
  <p style="margin-left:26.15pt;">&nbsp;</p>
  <p style="margin-left:26.15pt;">&nbsp;</p>
  <p style="margin-left:5.45pt;"><strong>TERCERO</strong></p>
  <p style="margin-left:5.15pt;">Dependencias gubernamentales</p>
  <p style="margin-left:5.15pt;">&nbsp;</p>
  <p style="margin-left:5.15pt;"><strong>FINALIDAD</strong></p>
  <p style="margin-left:5.15pt;">Por obligaci&oacute;n legal</p>
  <p style="margin-left:5.15pt;">&nbsp;</p>
  <p><strong>VII. AUTORIZACI</strong><strong>&Oacute;</strong><strong>N PARA LA TRANSFERENCIA DE DATOS PERSONALES. </strong>No es necesaria la autorizaci&oacute;n para la trasferencia de datos personales en virtud a que esta se dar&aacute; con terceros y con finalidades que son estrictamente necesarias para el cumplimiento de la relaci&oacute;n jur&iacute;dica que se crea.</p>
  <ol style="list-style-type:upper-roman;">
    <li value="11"><strong>MEDIOS Y PROCEDIMIENTOS PARA EJERCER LOS DERECHOS ARCO. </strong>Se dar&aacute; tr&aacute;mite a la solicitud que env&iacute;e el titular de datos personales en posesi&oacute;n del La Agencia de Innovaci&oacute;n Gubernamental de Hidalgo, a trav&eacute;s de la cual se ejerciten los derechos de <strong>Acceso, Rectificaci</strong><strong>&oacute;</strong><strong>n, Cancelaci</strong><strong>&oacute;</strong><strong>n y Oposici</strong><strong>&oacute;</strong><strong>n (ARCO). </strong></li>
  </ol>
  <p>&nbsp;</p>
  <p>El tr&aacute;mite est&aacute; sujeto al siguiente procedimiento:</p>
  <p>&nbsp;</p>
  <p>La solicitud se enviar&aacute; en documento electr&oacute;nico utilizando la direcci&oacute;n&nbsp; <u>www.aie.org.mx</u> o entregar&aacute; f&iacute;sicamente en Boulevard Felipe &Aacute;ngeles No. 605, Colonia Presas Jales Norte, C.P. 28060, Pachuca de Soto, Hidalgo.</p>
  <p>La solicitud deber&aacute; contener, por lo menos, la siguiente informaci&oacute;n:</p>
  <p>&nbsp;</p>
  <ul>
    <li>Nombre y domicilio del&nbsp; titular o su representante legal. -------------------------------</li>
  </ul>
  <ul>
    <li>Documentos que acrediten la identidad del titular y del representante legal en su caso. ---------------------------------------------------------------------------------------------------</li>
  </ul>
  <ul>
    <li>En su caso, documento a trav&eacute;s del cual se acredite la representaci&oacute;n. --------------</li>
  </ul>
  <ul>
    <li>Descripci&oacute;n concisa y clara que describa los derechos que se desean ejercer, as&iacute; como los datos personales involucrados.------------------------------------------------</li>
  </ul>
  <ul>
    <li>En el caso de solicitar la rectificaci&oacute;n de datos personales, deber&aacute; acompa&ntilde;ar la documentaci&oacute;n que sustente la petici&oacute;n. -----------------------------------------------------</li>
  </ul>
  <ul>
    <li>Se&ntilde;alar claramente los datos de contacto del titular.--------------------------------------</li>
  </ul>
  <p style="margin-left:40.5pt;">&nbsp;</p>
  <p>En el supuesto que sea necesario el env&iacute;o de documentos en f&iacute;sico, los gastos generados ser&aacute;n a cargo del titular solicitante.</p>
  <p>La respuesta a la solicitud se har&aacute; llegar dentro los plazos que marca la Ley siempre y cuando no se encuentren bajo los supuestos de excepci&oacute;n.</p>
  <ol style="list-style-type:upper-roman;">
    <li value="12"><strong>REVOCACI</strong><strong>&Oacute;</strong><strong>N DEL CONSENTIMIENTO. </strong>En todo momento el titular podr&aacute; revocar el consentimiento otorgado a La Agencia de Innovaci&oacute;n Gubernamental de Hidalgo, para el tratamiento de sus datos personales, mediante el siguiente procedimiento;</li>
  </ol>
  <p>El titular o su representante legal deber&aacute;n hacer llegar una solicitud en documento electr&oacute;nico utilizando la direcci&oacute;n <u>www.aie.org.mx</u> o f&iacute;sicamente a Boulevard Felipe &Aacute;ngeles No. 605, Colonia Presas Jales Norte, C.P. 28060, Pachuca de Soto, Hidalgo. La solicitud deber&aacute; contener, por lo menos, la siguiente informaci&oacute;n:</p>
  <p>&nbsp;</p>
  <ul>
    <li>Nombre y domicilio, as&iacute; como cualquier informaci&oacute;n complementaria que sirva para contactar al titular o su representante legal. ------------------------------------------</li>
  </ul>
  <ul>
    <li>Documento a trav&eacute;s del cual se acredite la representaci&oacute;n. ------------------------------</li>
  </ul>
  <ul>
    <li>Documentos que acrediten la identidad del titular y del representante legal en su caso. ---------------------------------------------------------------------------------------------------</li>
  </ul>
  <ul>
    <li>Datos respecto de los cuales espec&iacute;ficamente quiera revocar el consentimiento. --</li>
  </ul>
  <p align="right" style="margin-left:5.15pt;">&nbsp;</p>
  <p>La respuesta a la solicitud se har&aacute; llegar dentro los plazos que marca la Ley siempre y cuando no se encuentren bajo los supuestos de excepci&oacute;n.</p>
  <p>&nbsp;</p>
  <ol style="list-style-type:upper-roman;">
    <li value="13"><strong>MEDIOS PARA LIMITAR EL USO O DIVULGACI</strong><strong>&Oacute;</strong><strong>N DE LOS DATOS. </strong></li>
  </ol>
  <p>La Agencia de Innovaci&oacute;n Gubernamental de Hidalgo, cuenta con las medidas de seguridad, administrativas, t&eacute;cnicas&nbsp; y f&iacute;sicas&nbsp; necesarias&nbsp; y&nbsp; suficientes&nbsp; para proteger los datos personales contra da&ntilde;o, p&eacute;rdida, alteraci&oacute;n, destrucci&oacute;n, uso, acceso o tratamiento no autorizado.</p>
  <p>Los datos personales son salvaguardados en bases de datos y equipos de c&oacute;mputo que cuentan con la seguridad necesaria para prevenir fugas de informaci&oacute;n. Controles de acceso f&iacute;sico y l&oacute;gico, controles ambientales, sistemas de protecci&oacute;n anti intrusos (IPS, Firewal), herramientas de protecci&oacute;n antivirus y filtrado web son algunas de las herramientas utilizadas para mantener la seguridad de los datos en los sistemas de informaci&oacute;n de La Agencia de Innovaci&oacute;n Gubernamental de Hidalgo.</p>
  <p>&nbsp;</p>
  <p>Las herramientas de seguridad inform&aacute;tica mencionadas en el p&aacute;rrafo anterior est&aacute;n apoyadas por una pol&iacute;tica interna de seguridad de la informaci&oacute;n que explica a los Servidores P&uacute;blicos que lo atienden las consideraciones de seguridad que deben tomar en cuenta al utilizar un sistema inform&aacute;tico y es reforzada constantemente.</p>
  <ol style="list-style-type:upper-roman;">
    <li value="13"><strong>RECABAR DATOS DE MANERA AUTOM</strong><strong>&Aacute;</strong><strong>TICA Y SIMULT</strong><strong>&Aacute;</strong><strong>NEA.</strong></li>
  </ol>
  <p>La Agencia de Innovaci&oacute;n Gubernamental de Hidalgo, no utilizar&aacute; mecanismos en medios remotos o locales de comunicaci&oacute;n electr&oacute;nica, &oacute;ptica u otra tecnolog&iacute;a que permitan recabar datos personales de manera autom&aacute;tica y simult&aacute;nea al tiempo que el titular hace contacto con los mismos.</p>
  <ol style="list-style-type:upper-roman;">
    <li value="14"><strong>MODIFICACIONES AL AVISO DE PRIVACIDAD. </strong>La Agencia de Innovaci&oacute;n Gubernamental de Hidalgo, se reserva el derecho de cambiar el contenido de este Aviso de Privacidad en cualquier momento. Estas modificaciones estar&aacute;n disponibles en cualquiera de los siguientes medios: Anuncios visibles en nuestras oficinas, en nuestra p&aacute;gina de internet, se lo haremos llegar al &uacute;ltimo correo electr&oacute;nico que nos haya proporcionado.</li>
  </ol>
  <p>&nbsp;</p>
  <p>No seremos responsables si usted no recibe la notificaci&oacute;n de cambio en el Aviso de Privacidad si existiere alg&uacute;n problema con su cuenta de correo electr&oacute;nico o de transmisi&oacute;n de datos por internet.</p>



  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div><!-- #exampleModal4 -->

