<div class="site-footer">
  © 2016, Copyright sistema de Inteligencia y Tecnología Empresarial.
  <a class="btop" href="#"></a>
</div>

<div class="reveal" id="exampleModal4" data-reveal>
  
	<% @login_manager = LoginManager.first %>
	<%= raw(@login_manager.privacy) %>


  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div><!-- #exampleModal4 -->

