  <div class="nav">
    <a href="#" class="nav__item hide">
      <%= image_tag "calificacion-empresa-tab.png" %>      
      <span>Calificación de la empresa</span>
    </a>

    <%= link_to 'Monitor Empresarial', index_manager_user_path %>
    
  </div><!-- .nav -->
