  <div class="nav">
    <%= link_to sections_index_path, class: "nav__item" do %>
      <%= image_tag "icon-administrar-secciones.png" %>      
      <span>Administrar secciones</span>
    <% end %>

    <%= link_to events_path, class: "nav__item" do %>
    	<%= image_tag "icon-calendario.png" %>
    	<span>Calendario</span>
    <% end %>
    
  </div>