<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @economic_activity.name %>
</p>

<%= link_to 'Edit', edit_economic_activity_path(@economic_activity) %> |
<%= link_to 'Back', economic_activities_path %>
