<div class="layout">
	<%= render 'shared/nav_emprered' %>
	<div class="main">
		<div class="form-container">
			<%= link_to 'Atrás', @company, class: "back-button"  %>
			<h1 class="main-headline inline-block">Empresa: <%= @company.company_name %></h1>

			<%= render 'form_site' %>

		</div>
	</div>
</div>


