<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
		<Column ss:AutoFitWidth="0" ss:Width="60"/> 
		<Row>
			<Cell><Data ss:Type="String"><Span ss:Style="text-effect:outline">Nombre</Span></Data></Cell>
			<Cell><Data ss:Type="String">Sector</Data></Cell>
			<Cell><Data ss:Type="String">Municipio</Data></Cell>
			<Cell><Data ss:Type="String">Región</Data></Cell>
		</Row>
    <% @companies.each do |comapny| %>
      <Row>
        <Cell><Data ss:Type="String"><%= comapny.company_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= comapny.sector.name %></Data></Cell>
        <Cell><Data ss:Type="String">
			<% if comapny.municipio %>
				<%= comapny.municipio.name %>
			<% end %>
		</Data></Cell>
        <Cell><Data ss:Type="String">
			<% if comapny.municipio %>
				<%= comapny.municipio.region.name %>
			<% end %>
		</Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
