<div class="layout">
	<%= render 'shared/nav' %>
	<div class="main">
		<div class="form-container">
			<h1>Crear nuevo Rol</h1>

			<%= render 'form_new' %>

			
		</div>
	</div>
</div>


<%= render "shared/footer" %>