


<div class="layout">

	<%= render 'shared/nav' %>
	
	<div class="main">
		
		<div class="form-container">
			<%= link_to 'Atrás', levels_path, class: "back-button" %>
			<h1 class="main-headline inline-block">Editar Niveles</h1>

			<%= render 'form' %>		
		</div>
	</div>
</div>

<%= render "shared/footer" %>


