%estado {
	min-width: 140px;
	&:after {
		content: "";
		width: 6px;
		height: 6px;
		display: inline-block;
		border-radius: 50%;
		vertical-align: middle;
		margin-left: 4px;
	}
}

%form-wizard-actions {
	.next,
	.prev {
		display: inline-block;
		background: #F4F5F7;
		color: gray;
		padding: .618em 1.618em;
		border-radius: 4px;
		font-size: 14px;
		&:hover {
			text-decoration: underline;
		}
	}

	p[id*="commands"] {
		overflow: hidden;
		margin-top: 1.618rem;
	}

	.next {
		float: right;
		&:after {
			content: "\e916";
			font-family: icomoon;
			display: inline-block;
			vertical-align: middle;
			margin-left: 1em;
			font-size: .8em;
		}
	}

	.prev {
		float: left;
		&:before {
			content: "\e915";
			font-family: icomoon;
			display: inline-block;
			vertical-align: middle;
			margin-right: 1em;
			font-size: .8em;
		}
	}
}

%clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
    	display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

%btn {
	display: inline-block;
	padding: .5rem 2rem;
	border-radius: 4px;
	color: white !important;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: normal;
	text-decoration: none !important;
	&:hover {
		text-decoration: underline !important;
	}
}

body, html {
	background: #F4F5F7;
}

input,
textarea,
select {
	border-radius: 4px !important;
}


.ordenar-field {
	strong {
		font-weight: 500;
		color: #32365D;
		margin-right: .5rem;
	}
	select {
		width: 200px;
	}
}

.search-field {
	text-align: right;
	span {
		margin-right: -27px;
		color: gray;
		&:before {
			position: relative;
			z-index: 100;
			top: 3px;
		}
	}
	input {
		padding-left: 30px;
		width: auto;
		display: inline-block;
		vertical-align: middle;
		margin: 0;

	}
}


.login-page {
	background-image: image-url("bg-login.png");
	min-height: 100%;
	padding-top: 8%;
	background-size: cover !important;

	form {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		color: white;

		p {
			font-size: 14px;
		}

		h5 {
			color: white;
			font-weight: bold;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			position: relative;
			&:before {
				position: absolute;
				width: 32px;
				height: 1px;
				background: #70B23A;
				display: block;
				content: "";
				bottom: 0;
				left: 0;
			}
		}
	}

	.field {
		label {
			color: white;
		}
		br {
			display: none;
		}
	}

	.actions {
		text-align: right;
		color: white;
		a {
			color: #70B23A;
			font-size: 14px;
		}
	}

	input[type="submit"] {
		display: block;
		width: 100%;
		border: none; 
		background: #70B23A;
		color: white;
		padding: 10px 20px;
		margin-top: 1rem;
	}
}

.login-page__header {
	text-align: center;
	margin-bottom: 4rem;
	color: white;
	font-size: 18px;
	p {
		margin-top: .618em;
		font-weight: bold;
	}
}

.login-page__footer {
	margin-top: 5rem;
	text-align: center;
	padding-bottom: 4rem;

	svg {
		width: 50px;
		fill: white;
	}

	p {
		margin-top: 3rem;
		color: white;
		cursor: pointer;
	}

	a {
		display: inline-block;
		padding-left: 4em;
		padding-right: 4em;
		& + a {
			border-left: 1px solid white;
		}
		&:hover {
			
			svg {
				fill: #70B23A;
			}

			span {
				color: #70B23A;
			}
		}
		span {
			display: block;
			color: white;
			font-size: 14px;
		}
	}
}


.site-header {
	background: white;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EDEDED;
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;		
	}
}

.site-header__logo {
	float: left;

	img {
		height: 64px;
	}
}

.header-actions {
	float: right;
}

.header-actions__item {
	display: inline-block;
	vertical-align: middle;
	padding-left: 3rem;
	padding-right: 3rem;
	position: relative;
	&:after {
		height: 40px;
		width: 1px;
		display: block;
		background: #F6F6F6;
		content: "";
		right: 0;
		top: 50%;
		margin-top: -20px;
		position: absolute;
	}

}

.back-button {
	font-size: 0;
	text-decoration: none;
	background: #70B23A;
	color: white;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none !important;
	margin-right: 1rem;
	border-radius: 50%;
	&:before {
		content: "\e913";
		font-family: icomoon;
		font-size: 24px;
	}
	&:hover {
		color: white;
	}
}

.events-list {
	font-size: 0;

}

.events-list__item {
	display: inline-block;
	font-size: 14px;
	width: 50%;
	margin-bottom: 20px;
	position: relative;

	&:after {
		content: "\e916";
		font-family: icomoon;
		position: absolute;
		top: 50%;
		right: 1rem;
		line-height: 0;
	}

	figure {
		display: table;

		img {
			display: table-cell;
			vertical-align: middle;
		}

		figcaption {
			display: table-cell;
			vertical-align: middle;
			padding-left: 1rem;
			font-size: 13px;
			color: #979FA6;

			h5 {
				font-size: 14px;
				color: #6FB530;
				font-weight: 500;
			}
		}
	}
}


.header-actions__item--dashboard {
	a {
		text-transform: uppercase;
		font-size: 14px;
		color: #32365D;
		font-weight: 500;
		&:hover {
			color: #32365D;
			&:after {
				color: #70B23A;
			}
			
		}
		
		&:after {
			content: "\e91c";
			font-family: icomoon;
			margin-left: 1rem;
			font-size: 1.5em;
			display: inline-block;
			vertical-align: middle;
			display: none;
		}
	}
}

.header-actions__item--dropdown {
	color: #32365D;
	padding-right: 0;
	cursor: pointer;


	&:before {
		content: "\e91b";
		font-family: icomoon;
		display: inline-block;
		font-size: 50px;
		vertical-align: middle;
		margin-right: 10px;
	}

	&:after {
		content: none;
	}

	> div {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-weight: 500;
		position: relative;
		padding-right: 24px;
		min-width: 160px;
		&:before {
			content: "\e916";
			font-family: icomoon;
			position: absolute;
			right: 0;
			top: 13px;
			font-size: 10px;
			transform: rotate(90deg);
			color: #70B23A;
		}
	}

	em {
		font-style: normal;
	}

	
}

.header-dropdown {
	display: none;
	border: 1px solid #EFF0F2;
	cursor: normal;
	list-style: none;
	position: absolute;
	top: 130%;
	left: 0;
	right: 0;
	margin: 0;
	background: white;
	z-index: 23;

}



.header-dropdown__item {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	&+li {
		border-top: 1px solid #EFF0F2;
	}

	a {
		color: #153E5E;
		position: relative;
		display: block;
		&:before {

		}

		&:hover {
			color: #73B23B;
		}

	}
}

.header-dropdown__item--profile {
	a {
		&:before {
			content: "\e91a";
			font-family: icomoon;
			display: inline-block;
			margin-right: .5rem;
		}
	}
}

.header-dropdown__item--logout {
	background: #F4F5F7;
}

.nav {
	position: absolute;
	background: #F4F5F7;
	top: 115px;
	left: 0;
	bottom: 0;
	width: 110px;
	border-right: 1px solid #EDEDED;
}

.nav__item {
	background: white;
	display: block;
	text-align: center;
	font-size: 13px;
	border-top: 1px solid #EDEDED;
	padding-top: .25rem;
	padding-bottom: 1rem;
	padding-left: 8px;
	padding-right: 8px;
	color: #193E60;
	font-weight: 500;

	img {
		width: 50px;
		height: 50px;
	}

	&:hover {
		color: #193E60;
		text-decoration: underline;
	}
}

.noticias-actions {
	@extend %clearfix;
	background: #F4F5F6;
	padding: 0 1rem 0 0;
	margin-bottom: 2rem;

	svg {
		width: 30px;
		height: 30px;
	}
	
	a {
		float: left;
		display: block;
		padding: 1rem;
		&:hover {
			background: #EAECEC;
		}
	}

	form {
		float: right;
		margin-top: 13px;

		input,
		select {
			display: inline-block;
			width: auto;
			margin: 0;
		}

		span {
			position: relative;
			input {
				padding-left: 30px;
			}
			&:before {
				font-family: icomoon;
				content: "\e917";
				color: #8D989F;
				left: 8px;
				position: absolute;
				top: 50%;
				line-height: 0;
			}
		}
	}
}

.noticia--list {
	@extend %clearfix;
	margin-bottom: 2rem;

	.noticia__image {
		float: left;
		width: 35%;
		display: block;
	}

}

.noticia--list__content {
	float: right;
	width: 65%;
	padding-left: 30px;
	font-size: 14px;

	span {
		display: block;
		color: #90989F;
		margin: 1rem 0;
	}

	a {
		color: #002D50;
		font-size: 18px;
		font-weight: 500;
	}

	p {
		line-height: normal;
		color: #143E60;
	}

	em {
		font-style: normal;

		a {
			text-transform: uppercase;
			color: #2BB4AC;
			font-size: 13px;

			&:after {
				content: "\e916";
				font-family: icomoon;
				vertical-align: middle;
				font-size: .9em;
				line-height: 0;
				margin-left: 1rem;
				text-decoration: none !important;
			}

		
		}
	}


}

.main {
	background: white;
	position: static;
	margin-left: 110px;
	padding: 1.618rem;
	min-height: 100%;

}

.main-headline {
	font-size: 28px;
	font-weight: 500;
	color: #193E60;
	position: relative;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	&:before {
		content: "";
		width: 30px;
		height: 1px;
		background: #70B23A;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.pleca-button {
	display: table;
	width: 100%;
	background: #F3F4F5;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.pleca-button__title {
	display: table-cell;
	vertical-align: middle;
	font-size: 27px;
	margin: 0;
	color: #002F52;
	font-weight: 500;

}

.pleca-button__link {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	color: white !important;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	text-align: left;
	border-radius: 4px;
	background: #002E50;
	padding-left: 1rem;
	position: relative;
	
	&:after {
		content: "\e916";
		font-family: icomoon;
		vertical-align: middle;
		margin-left: 1em;
		position: absolute;
		right: 1rem;
		top: 50%;
		line-height: 0;
	}
	
}

.actions-emprered {
	@extend %clearfix;
	margin-bottom: 1.618rem;

	.main-headline {
		float: left;
	}
	a {
		display: inline-block;
		background: #22A89E;
		color: white;
		width: auto;
		padding: .5rem 3rem;
		border-radius: 4px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		float: right;
		&:hover {
			text-decoration: underline;
			color: white;
		}
	}
}

#search-form {
	position: relative;
	margin-top: 1.618rem;
	margin-bottom: 1.618rem;

	&:before {
		@extend %clearfix;
		content: "\e917";
		font-family: icomoon;
		position: absolute;
		left: 10px;
		top: 9px;
		color: #91989D;

	}

	input {
		display: inline-block;
		width: auto;
		vertical-align: center;
	}

	[type="submit"] {
		background: #71B23A;
		border: none;
		color: white;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		padding: .7rem 2rem;
		&:hover {
			text-decoration: underline;
		}
	}

	input[type="text"] {
		padding-left: 32px;
	}
}

.site-table {
	color: #9BA1A1;

	thead {
		background: #043050;
		color: white;
		th {
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	a {
		color: #053054;
		text-decoration: underline;
		&:hover {
			color: #22A89E;
		}
	}


	
}

.form-container {
	max-width: 640px;
	color: #0D3453;
}

.form-container--large {
	max-width: 1024px;
}

.submit-btn,
[type="submit"] {
	background: #70B23A;
	border: none;
	color: white;
	padding: .5rem 2rem;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
}

.inline-block {
	display: inline-block;
}

#company_sector_id {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.sector-cool {
	overflow: hidden;
	position: relative;
	border: 1px solid #cacaca;
	border-radius: 4px;
	height: 39px;
	margin-bottom: 1rem;

	.sector-cool__item {
		display: none;
		&.is-active {
			display: block;
		}
	}

	&:after {
		content: "\e916";
		font-family: icomoon;
		transform: rotate(90deg);
		position: absolute;
		right: 14px;
		top: 10px;
		font-size: .8em;

	}

	&.is-active {
		height: auto;

		.sector-cool__item {
			display: block;
		}
	}

}

.sector-cool__item {
	line-height: 37px;
	padding-left: .5rem;
	padding-right: .5rem;
	border-radius: 4px;

	img {
		width: 25px;
	}

	&.is-active {
		background: #EEEFF1;
	}
}

.slider-noticias {
	margin-left: 15px;
	margin-bottom: 90px;

	.slick-arrow {
		width: 32.5%;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
		padding: 20px 0;
		background: #F4F5F6;
		color: #043041;
		font-weight: 500;
		&:hover {
			background: #EAECEC;
		}
	}

	.slick-prev {
		&:before {
			content: "\e915";
			font-family: icomoon;
			vertical-align: middle;
			margin-right: 1em;
		}
	}

	.slick-next {
		left: 32.5%;
		&:after {
			content: "\e916";
			font-family: icomoon;
			vertical-align: middle;
			margin-left: 1em;
		}
	}
}

.slider-noticias__item {
	figure {
		@extend %clearfix;
		margin: 0;

		img,
		figcaption {
			float: left;
		}

		img {
			width: 65%;
		}

		figcaption {
			width: 35%;
			padding-left: 30px;

			p {
				color: #154061;
				font-size: 14px;
				line-height: normal;
			}

			em {
				font-style: normal;

				a {
					@extend %btn;
					font-weight: normal;
					display: block;
					background: #6FB430;
					color: white;
					text-align: center;
					font-weight: 500;
				}
			}

			a {
				display: block;
				color: #012F51;
				font-size: 18px;
				margin-bottom: 1em;
				font-weight: 500;
			}

			span {
				font-size: 14px;
				color: #8F99A1;
				display: block;
				margin-bottom: 1.5em;
			}
		}
	}
}

.welcome-empresario {
	text-align: center;

	a {
		display: inline-block;
		background: #70B339;
		color: white;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		padding: 1rem;
		border-radius: 4px;
		&:after {
			content: "\e918";
			font-family: icomoon;
			display: inline-block;
			vertical-align: middle;
			margin-left: 1em;
		}
		&:hover {
			text-decoration: underline;
			color: white;
		}
	}
}

.welcome-empresario__title {
	color: #043457;
	font-size: 28px;
	font-weight: 500;
}

.welcome-empresario__subtitle {
	font-size: 22px;
	color: #70B339;
	font-weight: 500;
	position: relative;
	margin-bottom: 3rem;
	padding-bottom: .5em;
	&:before {
		width: 32px;
		height: 1px;
		background: #70B339;
		content: "";
		position: absolute;
		left: 50%;
		margin-left: -16px;
		bottom: 0;
	}
}

.welcome-empresario__text {
	color: gray;
	font-size: 18px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}

#steps {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	list-style: none;

	li {
		background: #043050;
		border-radius: 50%;
		font-weight: 500;
		color: white;
		display: inline-block;
		height: 42px;
		line-height: 42px;
		width: 42px;
		position: relative;
		
		&:after {
			background: black;
			content: "";
			height: 2px;
			margin-top: -1px;
			position: absolute;
			right: 100%;
			top: 50%;
			width: 1.618rem;
		}

		&.current {
			background: #70B23A;
		}

		&:first-child {
			&:after {
				content: none;
			}
		}

		& + li {
			margin-left: 1.618rem;
		}

	}

}



#new_reply {
	p {
		font-weight: 500;
	}

	@extend %form-wizard-actions;
}

.edit_reply {
	p {
		font-weight: 500;
	}
	@extend %form-wizard-actions;
}

.edit_survey_analysis {
	@extend %form-wizard-actions;
	
}


.radio-custom {
	display: block;
	margin-bottom: .618rem;
	cursor: pointer;

	
	span {
		background: image-url("active-inactive.png") no-repeat;
		display: inline-block;
		height: 24px;
		width: 24px;
		background-size: 100%;
		vertical-align: middle;
		margin-right: .618rem;
		background-position: top center;
	}		
	

	input[type="radio"] {
		display: none;
		&:checked {
			&+ span {
				background-position: bottom center;
			}
		}

	}

}

.question-item {
	margin-bottom: 1.618em;
	position: relative; 
	z-index: 4;
	small {
		font-size: 16px;

	}
}

#notice {
	margin-bottom: 0;
}

.site-footer {
	clear: both;
	background: #072F3F;
	color: white;
	padding-left: 120px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	overflow: hidden;
	position: relative;
	z-index: 100;
	line-height: 3;

	p {
		margin: 1.618rem 0 0;
		font-size: .9em;
	}

	a {
		color: white;
		display: inline-block;
		text-decoration: underline;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}

	.btop {
		width: 40px;
		height: 40px;
		display: block;
		background: #70B23B;
		right: 0;
		top: 0;
		margin-right: 120px;
		position: absolute;
		color: white;
		text-decoration: none !important;

		&:hover {
			color: white;
		}

		&:before {
			content: "\e916";
			display: block;
			font-family: icomoon;
			line-height: 17px;
			transform: rotate(-90deg);

		}

	}
}

.site-footer-logo {
	float: left;
}

.site-footer-info {
	float: left;
	margin-left: 5%;

	> div {
		display: table;
		margin-bottom: 1.518em;
	}

	a {
		text-decoration: none;
	}

	p {
		margin-top: 0;
		display: table-cell;
		vertical-align: top;
		padding-left: 1rem;
	}

	img {
		display: table-cell;
		width: 20px;
		vertical-align: top;
		margin-top: 6px;
		height: auto;
	}

}

.layout {
	min-height: calc(100% - 252px);
}


.color-blue {
	color: #06304F;
}

.color-green {
	color: #70B23B;
}

.color-gray {
	color: gray;
}

.bold {
	font-weight: 500;
}

.site-tabs {
	border: none;
	margin-top: .618rem;
	margin-bottom: 1.618rem;
	li {
		text-align: center;
	}
	a {
		color: #8B959A;
		font-size: 18px;
		background: #EAECEB;
		text-transform: uppercase;
		font-weight: 500;
		position: relative;
		&:before {

		}
		&:hover {
			background: #EAECEB;
		}
		&[aria-selected=true] {
			background: #043050;
			color: white;
			&:before {
				content: "";
				border-top: 8px solid #043050;
				border-right: 8px solid transparent;
				border-left: 8px solid transparent;
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -4px;
			}
		}
	}
}

.site-tabs-half {
	width: 50%;
}

.site-tabs-content {
	border: none !important;
	padding-left: 5%;
	padding-right: 5%;
	color: #8C959B;
	strong {
		color: #032D4B;
	}
}

.title-line {
	color: #8A9498;
	border-bottom: 1px solid lightgray;
	margin-bottom: .618em;
	padding-bottom: .618em;
	font-weight: 500;
}

.white-space {
	height: 20px;
}

.btn {
	@extend %btn;
	background: #70B23A;
}

.mr-1 {
	margin-right: 16px !important;
}

.btn--gris {
	@extend %btn;
	color: #869198 !important;
	background: #f4f5f6;
}

.btn--red {
	@extend %btn;
	background: #E13D4F;
}

.btn--small {
	padding-left: 1rem;
	padding-right: 1rem;
}

.btn--link {
	color: #04ABA1 !important;	
	font-weight: 500;
	&:hover {
		text-decoration: underline;
	}
}

.btn--emerald {
	@extend %btn;
	background: #22A89E;
}

.btn--azul {
	@extend %btn;
	background: #002F52;
}

.small-label {
	color: gray;
	font-size: .9em;
	display: block;
}

.text-bigger {
	font-size: 1.4rem;
	font-weight: 500;
}

.mb-phi {
	margin-bottom: 1.618em;
}

.empresa-logo {
	img {
		width: 100px;
		height: auto;
	}
}

.vex-dialog-message {
	color: #053051;
	text-align: center;
	margin-bottom: 1.618rem;
	margin-top: 1.618rem;
}

.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary {
	background: #70B23A;
}

.vex.vex-theme-default .vex-dialog-form .vex-dialog-buttons {
	max-width: 230px;
	margin-left: auto;
	margin-right: auto;
}


.vex.vex-theme-default .vex-close:before {
	color: #053051;
}

.actions-admin {
	@extend %clearfix;
	margin-bottom: 1.618rem;
	
	a {
		@extend %btn;
		background: #22A89E;
		margin-bottom: .3em;
	}
}

.edit_survey_analysis {
	input[type="text"],
	input[type="number"] {
		display: inline;
		width: 50px;
		color: #70B23A;
		border-color: #70B23A;
		box-shadow: none;
		margin-bottom: 0;
	}

	a {
		color: #70B23A;
	}
}

.bolder {
	font-weight: 500;
}

.category-detalle {
	border-bottom: 1px solid lightgray;
	margin-bottom: 1.618em;
	ul {
		list-style: none;
		margin-left: 0;
		li {
			display: inline-block;
			vertical-align: top;
		}

		small {
			display: block;
			color: gray;
		}
	}
	h4 {
		font-size: 16px;

	}
}

.category-detaller-separator {
	vertical-align: middle;
	display: inline-block;
	width: 30px;
	
	
	&:before {
		content: "";
		height: 50px;
		transform: rotate(25deg);
		display: block;
		width: 1px;
		background: gray;
		margin-left: auto;
		margin-right: auto;
		
	}

}

.category-title {
	img {
		margin-right: 20px;
		width: 70px;
		height: auto;
	}
}

.max-1000 {
	max-width: 1000px;
	@extend %clearfix;
}

.general-details {
	h5 {
		border-bottom: 1px solid lightgray;
		padding-bottom: .5rem;
		font-weight: bold;

	}

	h6 {
		margin-bottom: .3rem;

		&+strong {
			display: block;
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 1rem;
		}
	}
}

.pleca {
	padding: 1rem;
	font-size: 20px;
	background: #879298;
	margin-top: 1.618rem;
	margin-bottom: 1.618rem;
	clear: both;
	color: white;
	text-transform: uppercase;
}

.the-content {
	a {
		color: #5E9631;
	}
}

.hallazgo {
	border: 1px solid lightgray;
	padding: 1.618rem;
}

.breadcrumbs-wrapper {
	clear: both;
	padding-left: 137px;
	padding-right: 137px;
	font-size: 14px;
	font-weight: 500;
	color: gray;;
	background: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	a {
		color: #71B23A;
	}
}

.text-uppercase {
	text-transform: uppercase;
}

.tabs-categories {
	border: none;
	text-align: center;
	li {
		float: none;
		display: inline-block;	
		position: relative;
		
		&:after {
			background: lightgray;
			content: "";
			height: 2px;
			margin-top: -1px;
			position: absolute;
			right: 100%;
			top: 50%;
			width: 1.9rem;
		}

				&:first-child {
			&:after {
				content: none;
			}
		}

		& + li {
			margin-left: 1.618rem;
		}

		&.is-active {
			a {
				background: lighgray;
			}
		}

		a {
			display: block;
			width: 50px;
			height: 50px;
			padding: 0;
			border-radius: 50%;
			padding: 8px;
			background: white;
			border: 1px solid lightgray;

		}
	}
}

.tabs-content-categories	 {
	border: none;
}

.icono-container {
	width: 70px;
}

.estado--terminado {
	@extend %estado;
	&:after {
		background: #019875;
	}
}

.estado--nuevo {
	@extend %estado;
	&:after {
		background: #12a99f;
	}
}

.estado--progreso {
	@extend %estado;
	&:after {
		background: #f5ab35;
	}	
}

.estado--retrasado {
	@extend %estado;
	&:after {
		background: #b91926;
	}	
}

.fc-day-grid-event {
	color: white !important;

	&.consultoria {
		background: #e63c4d !important; 
		border-color: #e63c4d !important;
	}

	&.intermedio {
		background: #1d6843 !important;
		border-color: #1d6843 !important;
	}

	&.basico {
		background: #002f52 !important;
		border-color: #002f52 !important;
	}

	&.avanzado {
		background: #12a99f !important;
		border-color: #12a99f !important;
	}

}

.fc-head {
	thead {
		background: #012F51;
		color: white;
		th {
			font-weight: 500;	
		}
		
	}
	
}

.fc-widget-header table {
	margin: 0;
}

[id*="event_start_at"],
[id*="event_end_at"],
[id*="event_monitor_start_at"],
[id*="event_monitor_end_at"]
 {
	display: inline-block;
	width: auto;
}

.edit_login_manager {
	textarea {
		min-height: 480px;
	}
}

.curso-info {
	img {
		margin: 1rem 1rem 1rem 0;
		width: 30px;
	}
}

.buscador-empresarial {
	background: #043051;
	color: white;
	padding: 1rem;

	select {
		margin-bottom: 0;
	}

	strong {
		color: white;
	}

	input[type="submit"] {
		height: 39px;
	}

	.mapa-botones__left {
		display: none;
	}


}

.contenedor-monitor {
	#sector {
		margin-bottom: -200px;
		position: relative;
		z-index: 100;
		bottom: -100px;
	}
}

#map {
	width: 100%;
	height: 500px;
}

.header-and-buttons {
	overflow: hidden;
	margin-bottom: 1em;
}

.header-and-buttons__right {
	float: right;
}

.header-and-buttons__left {
	float: left;
}

.head-gris {
	background: #F4F5F6;
	padding: 1em;
	overflow: hidden;

	h2 {
		font-size: 27px;
		text-transform: uppercase;
		margin: 0;
		color: #012F53;
		font-weight: 500;
		float: left;
	}

	.btn--azul {
		float: right;
	}
}

.tabs-monitor {
	a {
		color: white !important;
		font-size: 15px;
		font-weight: 500;
		&:hover {
			background: none !important;
		}
	}

	a[aria-selected='true'] {
		background: none !important;
		color: white !important;
	}

	li {
		width: 33.33%;
		text-align: center;
		position: relative;

		&.is-active {

			&:before {
				content: "";
				border-top: 10px solid;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				position: absolute;
				top: 99%;
				left: 50%;
				margin-left: -10px;
			}

		}
		

		&:nth-child(1) {
			background: #002F52 !important;
			&:before {
				border-top-color: #002F52;
			}
		}
		&:nth-child(2) {
			background: #12A99F !important;
			&:before {
				border-top-color: #12A99F;
			}
		}
		&:nth-child(3) {
			background: #6FB430 !important;
			&:before {
				border-top-color: #6FB430;
			}
		}
	}
}

.filtros-monitor {
	margin-bottom: 1.5em;
	strong {
		color: #8C949B;
		display: block;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	input,
	select {
		display: inline;
		width: auto;
	}
}

.monitor-estatal {
	h4 {
		position: relative;
		display: inline-block;
		&:before {
			content: "";
			width: 100%;
			left: 0;
			top: 100%;
			height: 1px;
			background: #f2f2f2;
			display: block;
			position: absolute;
		}
	}
}

.detalle-monitor {
	color: #859199;

	strong {
		color: #6EB330;
	}

	h4 {
		color: #002E51;
	}
}

.mapa-botones {
	clear: both;
}


.mapa-botones__left {
	float: left;
	width: 20%;
}

.mapa-botones__right {
	float: right;
	width: 80%;
}

.boton-mapa {
	display: block;
	color: #042F50;
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
	overflow: hidden;
	
	& + & {
		border-top: 1px solid #f2f2f2;
	}

	&:hover {
		color: #042F50;
		text-decoration: unerline;
	}
	svg {
		display: inline-block;
		width: 30px;
		vertical-align: middle;
		line-height: 0;
		float: right;
		path {
			fill: #6EB330;
		}
	}
}

.fc-left {
	h2 {
		color: #042F50;
	}
}

.noticia {
	margin-bottom: 1.618em;
}

.noticia__title {
	color: #043050 !important;
	display: block;
	margin: 1em 0 0.5em;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
}

.noticia__meta {
	color: #A3ABB0;
	font-size: .9em;
}

.noticia__description {
	font-size: .9em;
}

.noticia__image {
	&:hover {
		opacity: .5;
	}
}

@media (max-width: 1024px) {

	.slider-noticias {
		margin-left: 0;
		padding-top: 55px;
		margin-bottom: 40px;

		.slick-arrow {
			top: 0;
			width: 50%;
		}

		.slick-next {
			left: 50%;
		}
	}

	.slider-noticias__item {
	
		figure {
			img {
				width: 100%;
				float: none;
				margin-bottom: 20px;
			}

			figcaption {
				width: 100%;
				float: none;
				padding: 0;

			}
		}

	}

	.monitor-estatal {
		margin-top: 20px;
	}

	.mapa-botones {
		.mapa-botones__left {
			display: none;
		}

		.mapa-botones__right {
			width: 100%;
		}
	}

	.buscador-empresarial {
		background: white;
		padding: 0;
		border: 1px solid #f2f2f2;
		margin-bottom: 1rem;

		.mapa-botones__left {
			float: none;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}

		strong {
			background: #043051;
			padding: 1rem;
			display: block;
			position: relative;
			width: 100%;

			&:after {
				content: "+";
				position: absolute;
				right: 1rem;
				top: 50%;
				line-height: 0;
			}

			& ~  * {
				display: none;
			}

			&.is-active {
				background: #6BB530;
				margin-bottom: 1rem;

				&:after {
					content: "-";
				}

				& ~ * {
					display: block;
				}
			}
		}

		select {
			margin-bottom: 1rem;
			width: 90%;
			margin-left: auto;
			margin-right: auto;

		}

		input[type="submit"] {
			width: 90%;
			margin-left: auto;
			margin-bottom: 1rem;
			margin-right: auto;
		}

	}

	.general-chart {
		.max-1000 {
			.columns {
				width: 100%;
			}
			.medium-9 {
				text-align: center;
			}
		}

		#chart-categories {
			float: left;
		}
	}

	.breadcrumbs-wrapper {
		margin-top: 110px;
	}

	.nav {
		background: white;
		border-top: 1px solid #f2f2f2;
		bottom: auto;
		border-bottom: 1px solid #f2f2f2;
		right: 0;
		width: auto;
		overflow-x: scroll;
	}

	.nav__item {
		border-top: 0;
		border-right: 1px solid #f2f2f2;
		border-bottom: 0;
		float:left;
		height: 110px;
		width: 110px;
	}

	.main {
		margin-left: 0;
	}

	.site-header {
		padding-left: 1.618rem;
		padding-right: 1.618rem;
	}

	.site-footer {
		padding-left: 1.618rem;
		padding-right: 1.618rem;
		.btop {
			margin-right: 1.618rem;
		}
	}

	.breadcrumbs-wrapper {
		padding-left: 1.618rem;
		padding-right: 1.618rem;
	}

}

@media (max-width: 960px) {


	.site-footer-logo {
		float: none;
		text-align: center;
	}

	.site-footer-info {	
		float: none;
		margin-top: 1.618rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
	}

	.individual-chart {
		.columns {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {


	.buscador {
		margin-bottom: 1.618rem;
	}

	
	.ordenar-field,
	.search-field {
		width: 100%;
		text-align: left;
	}

	.general-chart {
		#chart-categories {
		    -ms-transform: scale(.7); /* IE 9 */
			-webkit-transform: scale(.7); /* Safari */
			transform: scale(.7);
			margin-left: -15%;
		}
	}

	.login-page__footer {
		a {
			padding-left: .5rem;
			padding-right: .5rem;
			span {
				font-size: 12px;
			}
		}
		svg {
			width: 30px;
		}
	}

	.login-page__header {
		img {
			width: 200px;
		}
	}

	.site-table {

		thead {
			display: none;
		}

		th {
			display: none;
		}

		td {
			display: block;
			text-align: right;
			&:before {
				content: attr(data-title) " ";
				font-weight: 500;
				float:left;
			}
		}

	}

	.site-header__logo {
		width: 200px;
		img {
			height: auto;
		}
	}

	.header-actions__item--dashboard {
		display: none;
	}

	.header-and-buttons__right {
		width: 100%;
		
		a {
			margin-bottom: 1em;
		}
	}

}

@media (max-width: 640px) {

	.noticia--list {
		.noticia__image {
			float: none;
			width: 100%;
			
		}

	}

	.noticia--list__content {
		float: none;
		width: 100%;
		padding-left: 0;
		margin-top: 1rem;
	}


	.noticias-actions {
		a {
			display: none;
		}

		form {
			float: none;
			width: 100%;
			padding: 1rem;
			padding-right: 0;


			input,
			select,
			span {

				display: block;
				width: 100%;
				margin-bottom: .5rem;
			}
		}
	}

	.events-list__item {
		width: 100%;

		figure {
			margin-left: 0;
		}
	}

	.pleca-button {
		display: block;
	}

	.pleca-button__title {
		display: block;
	}

	.pleca-button__link {
		display: block;
		text-align: left;
		margin-top: 1.5rem;
		padding-left: 1.2rem;
		width: 200px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.back-button {
		margin-bottom: 20px;
		display: block;
	}

	#event_monitor_start_at_4i,
	#event_monitor_start_at_5i,
	#event_monitor_end_at_4i,
	#event_monitor_end_at_5i,
	#event_start_at_4i,
	#event_start_at_5i,
	#event_end_at_4i,
	#event_end_at_5i {
		width: 120px;
	}

	.search-field {
		span {
			margin-left: 8px;
			&:before {
				top: -5px;
			}
		}
		input {
			margin-bottom: 1rem;
		}
	}

	.js-chart-category {
		width: 300px !important;
		overflow: hidden;
		margin-left: -20%;
	}

	.general-chart {
		#chart-categories {
		    -ms-transform: scale(.5); /* IE 9 */
			-webkit-transform: scale(.5); /* Safari */
			transform: scale(.5);
			margin-left: -43%;
		}
	}

	.site-header__logo {
		width: 180px;
		position: relative;
		top: 7px;
		
	}

	.header-actions__item--dropdown {

		> div {
			min-width: 0;
			&:before {
				top: -4px;
			}
			span {
				display: none;
			}
		}
	}

	.header-dropdown {
		width: 200px;
		left: -175px;
		top: 30px;
	}
}

@media (max-width: 320px) {
	
	.general-chart {
		#chart-categories {
		    -ms-transform: scale(.4); /* IE 9 */
			-webkit-transform: scale(.4); /* Safari */
			transform: scale(.4);
			margin-left: -70%;
		}
	}

	.site-tabs a {
		font-size: 16px;
		padding-left: 4px;
		padding-right: 4px;
	}

	.breadcrumbs-wrapper {
		margin-top: 80px;
	}

	.nav__item {
		width: 80px;
		height: 80px;
		img  {
			width: 30px;
			height: 30px;
		}
		span {
			display: block;
			font-size: 10px;
		}
	}

	.site-header__logo {
		width: 120px;
	}

}
