%clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
    	display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}


input,
textarea {
	border-radius: 4px !important;
}

.login-page {
	background-image: image-url("bg-login.png");
	min-height: 100%;
	padding-top: 8%;

	form {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		color: white;

		p {
			font-size: 14px;
		}

		h5 {
			color: white;
			font-weight: bold;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			position: relative;
			&:before {
				position: absolute;
				width: 32px;
				height: 1px;
				background: #70B23A;
				display: block;
				content: "";
				bottom: 0;
				left: 0;
			}
		}
	}

	.field {
		label {
			color: white;
		}
		br {
			display: none;
		}
	}

	.actions {
		text-align: right;
		color: white;
		a {
			color: #70B23A;
			font-size: 14px;
		}
	}

	input[type="submit"] {
		display: block;
		width: 100%;
		border: none; 
		background: #70B23A;
		color: white;
		padding: 10px 20px;
		margin-top: 1rem;
	}
}

.login-page__header {
	text-align: center;
	margin-bottom: 4rem;
	color: white;
	font-size: 18px;
	p {
		margin-top: .618em;
		font-weight: bold;
	}
}

.login-page__footer {
	margin-top: 5rem;
	text-align: center;
	padding-bottom: 4rem;

	svg {
		width: 50px;
		fill: white;
	}

	p {
		margin-top: 3rem;
		color: white;
		cursor: pointer;
	}

	a {
		display: inline-block;
		padding-left: 4em;
		padding-right: 4em;
		& + a {
			border-left: 1px solid white;
		}
		&:hover {
			
			svg {
				fill: #70B23A;
			}

			span {
				color: #70B23A;
			}
		}
		span {
			display: block;
			color: white;
			font-size: 14px;
		}
	}
}


.site-header {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EDEDED;
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;		
	}
}

.site-header__logo {
	float: left;
}

.header-actions {
	float: right;
}

.header-actions__item {
	display: inline-block;
	vertical-align: middle;
	padding-left: 3rem;
	padding-right: 3rem;
	position: relative;
	&:after {
		height: 40px;
		width: 1px;
		display: block;
		background: #F6F6F6;
		content: "";
		right: 0;
		top: 50%;
		margin-top: -20px;
		position: absolute;
	}

}



.header-actions__item--dashboard {
	a {
		text-transform: uppercase;
		font-size: 14px;
		color: #32365D;
		font-weight: 500;
		&:hover {
			color: #32365D;
			&:after {
				color: #70B23A;
			}
			
		}
		
		&:after {
			content: "\e91c";
			font-family: icomoon;
			margin-left: 1rem;
			font-size: 1.5em;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.header-actions__item--dropdown {
	color: #32365D;
	padding-right: 0;
	cursor: pointer;


	&:before {
		content: "\e91b";
		font-family: icomoon;
		display: inline-block;
		font-size: 50px;
		vertical-align: middle;
		margin-right: 10px;
	}

	&:after {
		content: none;
	}

	> div {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-weight: 500;
		position: relative;
		padding-right: 24px;
		min-width: 160px;
		&:before {
			content: "\e916";
			font-family: icomoon;
			position: absolute;
			right: 0;
			top: 13px;
			font-size: 10px;
			transform: rotate(90deg);
			color: #70B23A;
		}
	}

	em {
		font-style: normal;
	}

	
}

.header-dropdown {
	display: none;
	border: 1px solid #EFF0F2;
	cursor: normal;
	list-style: none;
	position: absolute;
	top: 130%;
	left: 0;
	right: 0;
	margin: 0;
	background: white;
	z-index: 23;

}



.header-dropdown__item {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	&+li {
		border-top: 1px solid #EFF0F2;
	}

	a {
		color: #153E5E;
		position: relative;
		&:before {

		}

		&:hover {
			color: #73B23B;
		}

	}
}

.header-dropdown__item--profile {
	a {
		&:before {
			content: "\e91a";
			font-family: icomoon;
			display: inline-block;
			margin-right: .5rem;
		}
	}
}

.header-dropdown__item--logout {
	background: #F4F5F7;
}

.nav {
	position: fixed;
	background: #F4F5F7;
	top: 115px;
	left: 0;
	bottom: 0;
	width: 110px;
	border-right: 1px solid #EDEDED;
}

.nav__item {
	background: white;
	display: block;
	text-align: center;
	font-size: 13px;
	border-top: 1px solid #EDEDED;
	padding-top: .25rem;
	padding-bottom: 1rem;
	padding-left: 8px;
	padding-right: 8px;
	color: #193E60;
	font-weight: 500;
}

.main {
	position: static;
	margin-left: 110px;
	padding: 1.618rem;

}

.main-headline {
	font-size: 28px;
	font-weight: 500;
	color: #193E60;
	position: relative;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	&:before {
		content: "";
		width: 30px;
		height: 1px;
		background: #70B23A;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.actions-emprered {
	@extend %clearfix;
	margin-bottom: 1.618rem;

	.main-headline {
		float: left;
	}
	a {
		display: inline-block;
		background: #22A89E;
		color: white;
		width: auto;
		padding: .5rem 3rem;
		border-radius: 4px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		float: right;
		&:hover {
			text-decoration: underline;
			color: white;
		}
	}
}

#search-form {
	position: relative;
	margin-top: 1.618rem;
	margin-bottom: 1.618rem;

	&:before {
		@extend %clearfix;
		content: "\e917";
		font-family: icomoon;
		position: absolute;
		left: 10px;
		top: 9px;
		color: #91989D;

	}

	input {
		display: inline-block;
		width: auto;
		vertical-align: center;
	}

	[type="submit"] {
		background: #71B23A;
		border: none;
		color: white;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		padding: .7rem 2rem;
		&:hover {
			text-decoration: underline;
		}
	}

	input[type="text"] {
		padding-left: 32px;
	}
}

.site-table {
	color: #9BA1A1;

	thead {
		background: #043050;
		color: white;
		th {
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	a {
		color: #053054;
		text-decoration: underline;
		&:hover {
			color: #22A89E;
		}
	}


	
}

