<div class="layout">
	
	<%= render 'shared/nav' %>

	<div class="main">

		<div class="form-container--large">
			
			<%= link_to 'Atrás', regions_path, class: "back-button" %>
			<h1 class="main-headline inline-block">Editar Región</h1>

			<%= render 'form' %>

		</div>

	</div>

</div>